<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.newpandatv">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.process_outgoing_calls" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <permission android:name="org.loader.litepalayer.playpermission" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ipnda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_ipnda"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.TwoActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.activity.VideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.activity.BillowingbottomActivity" />
        <activity
            android:name=".view.activity.Billow_moveActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.activity.InteracTionActivity" />
        <activity android:name=".view.activity.PersonalCenterActivity" />
        <activity android:name=".view.activity.WebViewActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58f95fedbbea833f17000b42" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2f0cb2d509139292a7c1451fe63d69c0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activity.SQLActivity" />
        <activity android:name=".view.activity.SetUpActivity"></activity>

    <activity android:name=".shaer.AutoActivity"/>
        <activity android:name=".shaer.InfoActivity"/>
        <activity android:name=".shaer.UserActivity"/>
        <activity android:name=".view.activity.homeactivity.VideoLiuActivity"
            android:screenOrientation="landscape"

            />
        <activity android:name=".view.activity.homeactivity.HomeWebActivity"
            />
        <activity android:name=".view.activity.homeactivity.AreaHomeActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".view.activity.homeactivity.ListHomeActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".view.activity.homeactivity.BigImgHomeActivity"
            android:screenOrientation="landscape"
            ></activity>
    </application>

</manifest>